
<div *ngIf="authService.user | async">

  <div class="row">
    <div class="col-md-4">

      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Welcome to the Trivia Host Area</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ (authService.user | async)?.email }}</h6>
          <p>Test text</p>
        </div>

        <div class="card-body">
          <button (click)="logout()" class="btn btn-danger">Logout</button>
        </div>
      </div>

    </div>

    <div class="col-md-8">

      <div class="card text-center">
        <div class="card-body">
          <!-- <ul *ngFor="clue in clues | async">
            <li (click)='removeClue(clue)'></li>
          </ul> -->
        </div>
      </div>

    </div>

  </div>



</div>
<!-- <div class="container">


    <div class="col" *ngfor()>
      <ul>
        <li [triva]="trivaQuestion"></li>
      </ul>
    </div>


</div> -->
