<div class="container text-center">
  <div class="content-box gameSetUp" *ngIf='showGameSetUp'>
    <div class="row">
      <h5 class="card-title">Welcome back, {{ (authService.user | async)?.email }}</h5>
      <input id="game-title" class="form-control" type="text" [(ngModel)]="newGameTitle" name="newGameTitle" placeholder="Game Title">
      <button id="new-game" class="btn btn-dark" type="button" (click)="startNewGame()" name="button">New Game</button>
      <button id="load-game" class="btn btn-dark" type="button" (click)="loadGame()" name="button">Load Game</button>
    </div>
  </div>

  <div class="hostView" *ngIf='showHostView'>
    <div class="row">
      <button id="logout" (click)="logout()" class="btn btn-dark logOut">Logout</button>
    </div>
    <div class="row">
      <div class="small-content-box">
        <h5 *ngIf='gameId'>{{ (currentGame | async)?.title }} </h5>
        <h6 class="card-subtitle mb-2 text-muted" *ngIf='gameId'> Game Code: {{ gameId }} </h6>
      </div>
    </div>



    <div id="question-queue">
      <ul *ngFor='let question of displayQuestions'>
        <div class="small-content-box">
          <h3>Q: {{question.question}}</h3>
          <p>A: {{question.correct_answer}}</p>

        </div>
      </ul>
    </div>




    <div class="row">


      <div class="col-sm-3">
        <h3>Teams</h3>


        <!-- TODO: THIS IS THE REPEATING SECTION FOR LISTING TEAM ANSWERS AND SCORES -->

        <div class="small-content-box">
          <h3>TEAM NAME</h3>
          <p>TEAM ANSWER HERE </p>

          <button class="btn btn-danger">Wrong</button>

          <button class="btn btn-success">Correct</button>
        </div>




      </div>






      <div class="col-sm-5">
        <h3>Upcoming Questions</h3>
        <div *ngFor='let question of upcomingQuestions'>
          <div class="display-questions small-content-box" *ngIf="question">
            <div class="row" id='{{question.id}}'>

              <div class="col-md-1">

                  <button id="delete-button" (click)='deleteQuestion(question)' class="btn btn-dark btn-sm questionButton">x</button>

                  <button id="add-button" (click)='addToQuestionList(question); ' class="btn btn-success btn-sm questionButton">+</button>



              </div>



              <div class="col-md-11 section-element">
                <h6> Q: {{question.question}} </h6>
                <p>A: {{question.correct_answer}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <h3>Displayed Questions</h3>
        <div *ngFor="let item of (displayQuestions | async)?.slice().reverse()">
          <div class="display-questions small-content-box">
            <div class="section section-element">
              <h6>Category: </h6>
              <p>{{ item.category }}</p>
            </div>
            <div class="section section-element">
              <h6>Question: </h6>
              <p>{{ item.question }}</p>
            </div>
            <div class="section section-element">
              <h6>Answer: </h6>
              <p>{{ item.correct_answer }}</p>
            </div>
            <div class="section-element">
              <h6>Difficulty: {{ item.difficulty }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
