.card-body{
  text-align: center;
}


li {
  color: lightgrey;
}

.bottom-buttons{
  float: right;
  margin-bottom: 10px;
}

.card {
  background-color: #212121;

}

.questionCard {
  border: 2px solid lightgrey;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #424242;
}

.questionButton {
  margin: 0px 0px 20px 0px;
}

.logOut{
  float: right;
}
