.container{
  margin-top: 5%
}

.content-box {
  background-color: #41414186;
  border: 0px solid black;
  border-radius: 20px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
}

.gameSetUp{
  width: 50%;
  margin: auto;
}

h5{
  color: white;
}

li {
  color: lightgrey;
}

.bottom-buttons{
  float: right;
  margin-bottom: 10px;
}

.card {
  background-color: #212121;

}

.questionCard {
  border: 2px solid lightgrey;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #424242;
}

.questionButton {
  margin: 0px 0px 20px 0px;
}

.logOut{
  float: right;
}
