.logo{
  text-align: center;
  margin: 10px;
}

img{
  margin-top: 5%;
  width: 1250px;

}

h1  {
  text-align: center;

}

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url('../assets/img/ship.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
