.card-header{
  text-align: center;
}

.question{
  text-align: center;
  border: solid 2px black;
}

textarea{
  width: 100%;
  height: 75px;
}

.answer{
  text-align: center;
}
.teamSubmitBtn{
  float: right;
}
