<div class="container">
  <div class="beforeNamed">
    <div class="jumbotron">
      <h1>build your team</h1>
    </div>
    <label>Team Name: </label>
    <input #teamName>
    <br>
    <button>Submit Team</button>
  </div><br>

  <div class="afterNamed">

    <h1>Team Name HERE + Score</h1>

    <div class="question">
      <h1>Current Question: </h1>
      <h3>'Question HERE'</h3>
    </div>

    <div class="answer">
      <label>Answer: </label><br>
      <textarea #answer></textarea><br>
      <button>Submit Answer</button>
    </div>

  </div>

</div>
