<div class="team-content text-center">
 <div class="content-box">
   <div class="row">
     <div class="col gamekey text-center">
       <div *ngIf="!currentGame">
         <input class="input" [(ngModel)]='gameId' placeholder="JoinGame" type="text" name="gameId" placeholder="Game Key">
         <button (click)='joinGame()' class="btn btn-dark">Join Game</button>
       </div>
       <div *ngIf="currentGame" class="current-game">
         <h3>Joined:</h3>
         <h3><i>{{ (currentGame | async)?.title }}</i></h3>
       </div>
     </div>

     <div *ngIf="displayTeamView" class="col teamName text-center">
         <h5 id="team-name" class="input">{{ teamName }}</h5>
         <div class="btn-group" role="group" aria-label="Basic example">

           <button type="button" id="edit-button" class="btn btn-dark" (click)='toggleEditTeamName()'>Edit</button>

           <button type="button" id="submit-button" (click)='addTeamToGame()' class="btn btn-dark">Submit</button>

         </div>
       <div>
         <div>
           <input [(ngModel)]='teamName' name='teamName' class="input" placeholder="Add a Team">
           <button class="btn btn-dark" (click)='toggleEditTeamName()'>Enter</button>
         </div>
       </div>

     </div>
   </div>
 </div>

 <div class="container" *ngIf='gameplayView'>
   <div class="card">
     <div class="card-header">
       <h3>{{ (currentGame | async)?.title }}</h3>

       <h5 id="team-name" class="input">{{ teamName }}</h5>
     </div>
     <div class="card-body">
       <div class="card">
         <h3 class="card-header">Questions</h3>
       </div>

       <div class="card" *ngFor="let question of (displayQuestions | async)?.slice().reverse()">

         <div class="questionCard">

           <div class="col-md-11">
             <h6> Q: {{question.question}} </h6>
             <p>A: {{question.correct_answer}}</p>
           </div>

         </div>
       </div>
     </div>
 </div>
</div>
